[user]
    email = 751533978@qq.com
    name = hyuuko
[http]
    proxy = http://127.0.0.1:7890
[https]
    proxy = http://127.0.0.1:7890
[core]
    filemode = false
[commit]
    template = ~/.gitmessage
