.z
.zcompdump
.zcompcache
.zkbd
.*_history
*.bak
*.zwc

zinit/completions
zinit/module
zinit/plugins/*
# local plugins
!zinit/plugins/_local---*
zinit/plugins/_local---zinit
zinit/polaris
zinit/services
zinit/snippets
